<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <style>
        html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em ;
    color: #666;
}
.top{
    background-color: teal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items:center;
    padding:0px 40px;
}
.logo{
    font-size: 30px;
    color:lightcyan;
}
.nav{
    position: relative;
    left:-180px;
}
a{
    padding:5px 15px;
    color:lightcyan;
    font-size: 20px;
    text-decoration:none;
}
a:hover{
    color:teal;
    text-decoration: underline;
    text-underline-position:under;
}
.search{
    font-size: 25px;
}
.search i{
    padding:5px 20px;
}
.ping1{
    background-image: url(uno.webp);
    min-height:100%;

}
.ping2{
    background-image: url(dos.webp);
    min-height: 100%;

}
.ping3{
    background-image: url(fiv.webp);
    min-height: 100%;

}
.ping4{
    background-image: url(for.jpeg);
    min-height: 50%;
    position:relative;
    background-position: 100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.ping1, .ping2, .ping3{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.textbg{
    background: lightcyan;
    color: darkcyan;
    padding: 20px;
    border-radius: 70pt;
}
.section{
    padding: 50px 80px;
    text-align: center;

}
.section-light{
    background-color: #f4f4f4;
    color: gray;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
i{
    text-align: left;
}
.fa-solid fa-envelope{
    text-align: left;
}
.brand img{
    width: 44px;
    padding: 0 8px;

}
.r1{
    border-radius:50%; padding:20px;
    position: relative;
    


}
.r2{
    border-radius: 50%; height:190px ;padding:30px;
    position: relative;
   



}


/* .fiveHover{
    position: relative;

}
.fiveHoverex{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.fiveHover:hover .fiveHoverex {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } */
  .colourless{
    color: transparent;
  }

  /* Existing CSS rules */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-content {
    text-align: center;
}

.content-box {
    background-color: lightcyan;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

    </style>
</head>
<body>
    

        <div class="top">
            <div class="logo">The Food Crew</div>
            <div class="nav">
                <a href="welcome">Home</a>
                <a href="about">About</a>
                <a href="loc">Location</a>
                <a href="#">Sign Up</a>
            </div>
    
        </div>
        <div class="about-content">
            <h1>About Us</h1>
            <p>Welcome to The Food Crew! We are passionate about providing delicious food experiences to our customers. Our mission is to </p>
            <p>Founded in 2024, The Food Crew has grown from a small food truck to a renowned restaurant chain with locations across the country...</p>
            <p>Founders: Priyanshu, Diksha and Riju </p>

        </div>
</body>
</html>