<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Food-Crew</title>
    <style>
        html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em ;
    color: #666;
}
.top{
    background-color: teal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items:center;
    padding:0px 40px;
}
.logo{
    font-size: 30px;
    color:lightcyan;
}
.nav{
    position: relative;
    left:-180px;
}
a{
    padding:5px 15px;
    color:lightcyan;
    font-size: 20px;
    text-decoration:none;
}
a:hover{
    color:teal;
    text-decoration: underline;
    text-underline-position:under;
}
.search{
    font-size: 25px;
}
.search i{
    padding:5px 20px;
}
.ping1{
    background-image: url(/image/uno.webp);
    min-height:100%;

}
.ping2{
    background-image: url(/image/dos.webp);
    min-height: 100%;

}
.ping3{
    background-image: url(/image/fiv.webp);
    min-height: 100%;

}
.ping4{
    background-image: url(/image/for.jpeg);
    min-height: 50%;
    position:relative;
    background-position: 100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.ping1, .ping2, .ping3{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.textbg{
    background: lightcyan;
    color: darkcyan;
    padding: 20px;
    border-radius: 70pt;
}
.section{
    padding: 50px 80px;
    text-align: center;

}
.section-light{
    background-color: #f4f4f4;
    color: gray;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
i{
    text-align: left;
}
.fa-solid fa-envelope{
    text-align: left;
}
.brand img{
    width: 44px;
    padding: 0 8px;

}
.r1{
    border-radius:50%; padding:20px;
    position: relative;
    


}
.r2{
    border-radius: 50%; height:190px ;padding:30px;
    position: relative;

}


/* .fiveHover{
    position: relative;

}
.fiveHoverex{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.fiveHover:hover .fiveHoverex {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } */
  .colourless{
    color: transparent;
  }
    </style>
</head>
<body>
    <div class="top">
        <div class="logo">The Food Crew</div>
        <div class="nav">
            <a href="/welcome">Home</a>
            <a href="about">About</a>
            <a href="/loc">Location</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </div>
    </div>



    <section class="ping1">
        <div class="ptext">
            <span class="textbg">
                THE FOOD CREW
            </span>
        </div>
    </section>
    <section class="section section-light">
        <h2>THE FOOD CREW</h2>
        "FoodCrew is a seamless online food delivery app designed to satisfy cravings with convenience. Users browse through a diverse array of restaurants, cuisines, and meal options tailored to their tastes. With a user-friendly interface, ordering is a breeze, with customizable options and secure payment methods. Real-time tracking keeps users informed about the status of their order, from preparation to delivery at their doorstep. FoodDash prioritizes reliability, ensuring timely deliveries and maintaining food quality standards. Additionally, users can rate and review their experience, contributing to a vibrant community of food enthusiasts. Whether it's a quick bite or a lavish meal, FoodDash delivers satisfaction every time."    </section>
    <section class="ping2">
        <div class="ptext">
            <span class="textbg">
                Our Concept
            </span>
        </div>
    </section>
    <section class="section section-dark">
        <h2>OUR CONCEPT</h2>
        Our online food delivery app offers a seamless experience, allowing users to browse a diverse selection of cuisines, place orders, and track deliveries with ease. With a user-friendly interface and advanced search filters, customers can quickly find their favorite dishes or explore new options. Integrated payment options ensure secure transactions, while real-time order tracking keeps users informed every step of the way. Partnering with top-rated restaurants, we guarantee quality and timely delivery, enhancing customer satisfaction. Whether at home or on the go, our app revolutionizes the dining experience, bringing delicious meals straight to your doorstep with just a few taps.    </section>
    <section class="ping3">
        <div class="ptext">
            <span class="textbg">
                key featues
            </span>
        </div>
    </section>
    <section class="section section-dark">
        <h2>KEY FEATURES</h2>
        <div class="fiveHover">
            <div class=".fiveHoverex">
                <p>
                <img src="/image/deli.jpeg" class="r1"  alt="" >
                <img src="/image/fork.jpeg" class="r2" alt="" >  
                <img src="/image/reve.png" class="r2" alt="" >      
                <img src="/image/bask.jpeg" class="r2" alt="" >                
            </p> 
                DELIVERY<span class="colourless">_______________ </span> DINE IN RESRVATIONS<span class="colourless">_______________ </span> REVIEW  <span class="colourless">__________________ </span>  ONLINE STORE 
            </div>

        </div>
        <p>                                        </p>
    </section>
    <section class="ping4">
        <div class="ptext">
            <span class="textbg">
                More about us
            </span>
        </div>
    </section>
    <section class="section section-light">

   

        <h2><a style="color:black;" href="contact">Contact Us</a></h2>
    <i class="fa-solid fa-envelope"> email: thefoodcrew@yahoo.com</i>    
    <br>
    <i class="fa-solid fa-phone"> +91 83580-09495</i>
    <p></p>
    </section>
    <script src="https://kit.fontawesome.com/432d50ac77.js" crossorigin="anonymous"></script>

</body>
</html> 